.flex-container {
    display: flex;
    flex-direction: row;
}

.nav_bar {
    display: flex;
    flex-direction: row;
}

.nav_bar p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    text-align: center;
}


.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}
