.flex-container {
    display: flex;
    flex-direction: row;
}

.nav_bar {
    display: flex;
    flex-direction: row;
}

.nav_bar p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    text-align: center;
}


.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}

.projects {
    margin-top: 100px;
}

.skill-desc {
    font-family: "Lucida Console", "Courier New", monospace;
}

.description {
    font-family: "Lucida Console", "Courier New", monospace;
}

.footer_description {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
}

#sixth_container {
    display: flex;
    justify-content: center;
}

#game {
    width: 200px;
    height: 200px;
}

#skills {
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

#footer_container {
    background-color: beige;
}

body {
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }

